<div class="background-sky hero"></div>
<div class="container lg mx-auto px4 relative">
  <div class="mx-5">
    <div class="bg-white max-w-sm rounded-lg overflow-hidden shadow-lg mx-auto mt-5 lg:mt-20">
      <mat-vertical-stepper #stepper>
        <mat-step [stepControl]="booking">
          <ng-template matStepLabel>Booking</ng-template>
          <form [formGroup]="booking" (ngSubmit)="handleBooking()">
            <div class="step-container mr-8">
              <div class="flex justify-between items-center mb-5">
                <div class="font-normal text-sm">Enter Exchange Amount</div>
                <div class="font-normal text-xs" *ngIf="rate">
                  1 {{ selectedRateFrom }} = {{ selectedRateTo }} {{ rate | number:'1.2-2' }}
                </div>
              </div>
              <div class="flex">
                <mat-form-field class="w-155px">
                  <mat-label>From</mat-label>
                  <mat-select (selectionChange)="rateSelectionChange($event, $event.value)" formControlName="currencyFrom">
                    <mat-option *ngFor="let rate of rates$ | async; let i = index" [value]="rate.base">
                      <span [class]="'flag-icon flag-icon-'+ (rate.countryCode | lowercase) +' flag-icon-squared'"></span> {{ rate.base }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="w-full">
                  <input matInput autocomplete="off" currencyMask formControlName="amountFrom" [options]="{align: 'right', allowNegative: false, prefix: selectedRateFromSymbol ? selectedRateFromSymbol : '$ '}"/>
                </mat-form-field>
              </div>
              <div class="flex">
                <mat-form-field class="w-155px">
                  <mat-label>To</mat-label>
                  <mat-select (selectionChange)="getSelectedExchangeRate($event)" formControlName="currencyTo">
                    <mat-option *ngFor="let ratesTo of ratesTo; let i = index" [value]="ratesTo.currency">
                      <span [class]="'flag-icon flag-icon-'+ (ratesTo.countryCode | lowercase) +' flag-icon-squared'"></span> {{ ratesTo.currency }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="w-full">
                  <input matInput autocomplete="off" currencyMask [options]="{align: 'right', allowNegative: false, prefix: selectedRateTo ? selectedRateTo : '$ '}" formControlName="amountTo"/>
                </mat-form-field>
              </div>
              <div class="mt-5">
                <button class="button-primary text-white font-normal py-2 px-10 rounded-full shadow-md" type="submit" matStepperNext [disabled]="!booking.valid" >Continue</button>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Collection</ng-template>
          <form [formGroup]="collection" (ngSubmit)="handleCollection()">
            <mat-form-field class="w-full">
              <mat-label>Firstname</mat-label>
              <input type="text" matInput formControlName="firstname" placeholder="First name"/>
            </mat-form-field>
            <mat-form-field class="w-full">
              <mat-label>Lastname</mat-label>
              <input type="text" matInput formControlName="lastname" placeholder="Last name"/>
            </mat-form-field>
            <mat-form-field class="w-full">
              <mat-label>email</mat-label>
              <input type="text" matInput formControlName="email" placeholder="Email"/>
            </mat-form-field>
            <mat-form-field class="w-full">
              <mat-label>mobile</mat-label>
              <input type="text" matInput formControlName="mobile" placeholder="Mobile"/>
            </mat-form-field>
            <mat-form-field class="w-full">
              <mat-label>ID Type</mat-label>
              <input type="text" matInput formControlName="idType" placeholder="ID Type"/>
            </mat-form-field>
            <mat-form-field class="w-full">
              <mat-label>ID Number</mat-label>
              <input type="text" matInput formControlName="idNumber" placeholder="ID Number"/>
            </mat-form-field>
            <div class="mt-5">
              <button class="button-primary text-white font-normal py-2 px-10 rounded-full shadow-md" type="submit" [disabled]="!collection.valid">Continue</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Payment</ng-template>
          <form [formGroup]="payment" (ngSubmit)="handlePayment()">
            <ng-container *ngIf="countries$ | async as countries">
              <mat-form-field class="w-full">
                <mat-label>County</mat-label>
                <mat-select (selectionChange)="getSelectedCountry($event)">
                  <mat-option *ngFor="let country of countries; let i = index" [value]="country.countryCode">
                    <span [class]="'flag-icon flag-icon-'+ (country.countryCode | lowercase) +' flag-icon-squared'"></span> {{ country.countryName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
            <ng-container>
              <mat-form-field class="w-full">
                <mat-label>State/Province</mat-label>
                <mat-select>
                  <mat-option>-- None --</mat-option>
                  <mat-optgroup *ngFor="let group of states$ | async" [label]="group.stateName">
                    <mat-option *ngFor="let item of group.cities" [value]="item.name">
                      {{ item.name }}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
            </ng-container>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Receipt</ng-template>
          You are now done.
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>
